@media screen and (min-width:600px) {
    ul{
    flex-direction: row;
    }
    h2 {
        text-align: center;
    }
    h1 {
        font-size: 400%;
    }
    .menu {
        display:block;
    }
    .topwords {
        flex-direction: row;
    }
    .images img:hover{
        box-shadow: 0 0 50px #333;
    }
    .hamburger-button {
        display: none; }
}