section {
    background: rgb(187, 160, 215);
    text-align: center;
}
h2 {
    color:rgb(47, 21, 124);
}
#cards {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:10px;
}

img {
    width: auto;
      max-width: 325px;
    box-shadow: 0 0 30px #777;
    height: 200px;
    border: 1px solid #333;
  }
